# Ignore virtual environment
venv/

# Ignore logs or runtime folders
logs/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter checkpoints
*.ipynb_checkpoints/

# Ignore VS Code or IDE config
.vscode/
.idea/

# Optional system files
.DS_Store
Thumbs.db
